@import "../../assets/sass/index";
@import './src/styles/scss/variables';

.main__content {
    width: 100%;
    position: relative;
}



.section {
            padding-left: 3%;
            padding-right: 3%;
    > {

        div,
        ul,
        a {
            // padding-left: 1%;
            // padding-right: 1%;

        }
    }
    

    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    li {
        list-style-type: none;

    }

    a,
    button {
        text-decoration: none;
    }

    span {
        font-weight: 600;
    }


    &__aboutMe {
        
        .list-style-2 {
            
                li{     padding: 1rem 0.1rem;
                    border-top: 0.2rem solid $color-gray-white;
                    span {
                        margin-right: 0.3rem;
                    }
                    &:first-child{
                        border-top: none;

                }}
            a {
                color: $color-important;
            }
        }
    }


   

    .description, .single-service{
        padding-bottom: 4rem;
        p {
            line-height: 1.8rem;
            margin-bottom: 1rem;
            color: $color-text-gray-dark;
    
        }
    } 
    &__home {
        display: flex;
        flex-direction: column;
        justify-content: center;;
        align-items: center;
        .home__text-content {
            padding-top: 2.5rem;
            padding-bottom: 1rem;
          
            
            .banner-title {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

            .button {
                margin-top: 4rem
            }
            
        }
        
        .banner {
            margin-top: 1rem;
            img {
                max-width: 80%;
            }
        
        
        
        }
    }

    &__summary {
        padding-bottom: 3rem;
    }

    &__portfolio {
        padding-bottom: 3rem;
    }
    &__testimonial {
        margin-bottom: 3rem;
    }
    &__contact {
        margin-bottom: 7rem;
    }
    &__aboutMe,
    &__contact,
    &__home {
        margin-top: 0;
        text-align: center;

        .align__left {
            text-align: left;
        }
    }

    &__services,
    &__summary {
        margin-top: 0;
        text-align: left;

    }

    &__aboutMe,
    &__summary,
    &__testimonial {
        background-color: $color-text-opposite;
    }

    &__services,
    &__portfolio,
    &__contact {
        background-color: $color-gray-white;
    }

}
 /* Medium devices such as tablets (768px and up) */
 @media only screen and (min-width: 48em) {
   .grid-two-columns .description {
        p {
            padding-top: 3rem;
            font-size: 1.3rem;
            line-height: 2.5rem;
        }
    }
 }
.title {
    position: relative;
    margin-bottom: 3rem;
     
    &__bicolor, &__projectPage {
        @include poppins-600-semibold;
        font-size: 1.75rem;
        text-align: center;
        margin-bottom: 1rem;
        line-height: 1.2;

        span {
            color: $color-important;
        }
    }

    &__type-2 {

        @include poppins-600-semibold;
        font-size: calc(1.95rem + 4.6vw);
        color: $color-text-lighter;
        text-align: center;
        text-transform: uppercase;
    }

    &__2--subtitle {
        margin-left: auto;
        margin-right: auto;
        @include poppins-600-semibold;
        font-size: calc(1.35rem + 0.6vw);;
        color: $color-text-darker;
        text-align: center;
        position: absolute;
        width: 100%;
        margin-top: calc(-1.2rem - 9.8vw);;
        line-height: 2.5;
        display: flex;
        flex-direction: column;

        span {
            border: 0.1rem solid $color-important;
            // position: relative;
            // border-style: dashed;
            // border-color: #ffc107 !important;
            // border-width: 3px;
            width: 5rem;
            margin-top: -1.2rem;
            margin-left: auto;
            margin-right: auto;
        }


    }

      /* Medium devices such as tablets (768px and up) */
  @media only screen and (min-width: 48em) {
    &__2--subtitle {
        margin-top: calc(-2.05rem - 6.7vw);
        font-size: calc(2.05rem + 0.6vw);
    }

    }

   

    &__type-3 {
        @include poppins-600-semibold;
        font-size: 1.25rem;
        color: $color-text-darker;
        margin-bottom: 10px;
        line-height: 1.2;
        &-projectPage {padding-top: 3rem;
            text-align: center;
        }

    }

}
   /* Medium devices such as tablets (768px and up) */
  @media only screen and (min-width: 48em) {
    .locationInfo-2 .title__2--subtitle {
        margin-top: calc(-2.05rem - 6.6vw);
        font-size: calc(2.05rem + 0.6vw);
    }
    
    }

.featured-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    margin-bottom: 4rem;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $color-text-gray-dark;
        font-size: 0.9rem;
        margin-bottom: 2rem;

        span {
            font-size: calc(1.425rem + 2.1vw);
            color: $color-text-gray-light;
        }
    }

}
/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
    .featured-box {
        align-items: start;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 3rem;
        margin-bottom: 4rem;
    }
}

.single-service {
    margin-top: 2rem;

    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;

    i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 0.3rem;
        background-color: white;
        -webkit-box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.51);
        box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.11);

        &::before {
            color: $color-important;
            font-size: 1.7rem;
        }
    }
}
.button {
    @include poppins-600-semibold;
    font-size: 1rem;
    cursor: pointer;
    margin: 2rem 0.5rem;
    padding: 0.3rem 0.1rem;
    &__next {
        padding-top: 5rem;
        color: $color-gray-light;
        font-size: 2rem;
        background: none;
        border: none;
    }
    &__round {
        padding: 10px 0;
        width: 233px;
        border-radius: 50px;
        transition: 260ms;
        transform: translateY(0);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &:hover {
            transition: 260ms;
            
            padding: 11px 17px;

            transform: translateY(-0px);
        }
    }
    &-type-one {
        width: 11.7rem;
        color: $color-important;
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid $color-important;
        
        &:hover {
            background-color: $color-important;
            color: $color-text-opposite;
            border: solid 2px transparent;
        }
    }

    &-type-two {
        color: $color-text-opposite;
        background-color: $color-important;
        border: 2px solid transparent;
        padding: 10px 0;
        width: 11.7rem;

        &:hover {
            background-color: $color-important;
            color: $color-text-opposite;
            font-size: 1.03rem;
            border: solid 2px transparent;
            -webkit-box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.51);
            box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.11);
        }
    }

    &-type-tree {
        color: $color-text-gray-dark;
        background-color: transparent;
        border: 2px solid $color-text-gray-dark;
        padding: 10px 0;
        width: 12.7rem;

        &:hover {
            background-color: $color-text-gray-dark;
            color: $color-text-opposite;
            font-size: 1.03rem;
            border: solid 2px transparent;
            -webkit-box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.51);
            box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.11);
        }

        &::after { 
            margin-left: 1.1rem;
            @include font-awesome-solid;
            position: relative;
            font-size: 1.1rem;
            content:"\f019";
            // color: $color-text-opposite;
            right: 1rem;
            /* you can style it however you want, use background-image for example */
          }
    }
}

div {
    .resume {
        margin-bottom: 3rem;
        .title__type-3 {
            
            margin-bottom: 1.5rem;
        }
        &__box {
            padding: 2rem 2rem;
            margin: 1rem 1rem;
            border: 0.08rem solid $color-gray-light;
            border-radius: 0.5rem;
        }
        &__badge {
            width: 7rem;
            text-align: center;
            @include poppins-500-medium;
            color: $color-text-opposite;
            background-color: $color-important;
            font-size: .875rem;
            padding: 0.01rem 0.6rem;
            margin-bottom: 1rem;
            border-radius: 0.3rem;
            
        }
        &__title {
            
            color: $color-text-darker;
            @include poppins-500-medium;
            font-size: 1.15rem;
        }
        
        &__text-danger {
            color: $color-important-2;
            font-size: 0.95rem
        }
        &__text-simple {
    
        }
    }
    /* Medium devices such as tablets (768px and up) */
    @media only screen and (min-width: 48em) {
        .resume__group, .progress__loaders {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .progress {
                
                max-width: 80%;
            }
            .progress__loaders {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

    .progress {
        margin-top: 2rem;
        margin-bottom: 2rem;
        position: relative;
        
        &__title {
            @include poppins-500-medium;
        }
        &__number {
            
            @include poppins-500-medium;
            color: $color-black!important;
            position: absolute;
            top: 0;
            right: 0;

        }
    }

.contact {
    &__mailform {

    }
    &__info {
        padding-top: 5rem;
        i{
            &::before {
                color: $color-important;
                padding-right: 0.3rem;
            }
        }
        .mb-1 {
            padding-top: 2rem;
            margin-bottom: 0.6rem;
        }
        .mb-3 {
            line-height: 0.5rem;
            
            padding-bottom: 3rem;
        }
        .mb-4 {
            line-height: 2rem;
        }
    }
}
