
@import "../../assets/sass/index";
div[class^="_quotes-img"] {
  display: none;

}
div[class^="feedbackText--"] {
  display: flex;
  flex-direction: column-reverse;
  align-content:flex-end;
  justify-content: flex-end;
  gap: 3rem;
    // overflow-clip-margin: content-box;
    overflow: clip;
    width: 300px;
    
    div[class^="_para"] {
      @include poppins-400-regular;
      padding-bottom: 3rem;
      text-align: left;
    }
    div[class^="_subText"] {
      
    }
    .jobTitle {
      div {
        
      }
    }
    div[class^="_section-three-sub-div"] {
      text-align: left;
    }
    img {
      // overflow-clip-margin: content-box;
    overflow: clip;
      height: 64px;
      width: 64px;
      border-radius: 64px;
    }
    .authorInfo {
      background-color: red;
      display: flex;
      flex-direction: row;
    }
    
}
.authorInfo {
  background-color: red;
  display: flex;
  flex-direction: row;
}

.section-three-main-div {
    display: grid;
    grid-template-rows: 1fr 50px;
    justify-items: center;
    row-gap: 1rem;
    background-color: $color-text-opposite;
  }
  
  .quotes-img-right {
    justify-self: end;
    background-image: url(../../assets/left.png);
    margin-right: 20px;
  }
  
  .quotes-img-left {
    background-image: url(../../assets/right.png);
    margin-left: 20px;
  }
  
  .section-three-sub-div-one {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
  }
  
  .main-quotes-div {
    /* width: 1110px; */
    transition: 1s;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .quotes-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 23px;
  }
  
  /* ------------------ */
  .para {
    font-family: "Lato", sans-serif;
    font-size: 18px;
  }
  
  .subText {
    margin-top: 1rem;
    font-size: 14px;
    color: #999999;
  }
  
  .myDot {
    display: inline-block;
    cursor: pointer;
    border: none;
    padding: 5.5px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    background: $color-text-lighter;
  }
  
  .myDot--active {
    background: $color-important;
  }
  
  .not-visible {
    opacity: 0;
    transition: 1s;
  }
  
  @media (max-width: 767px) {
  
    .section-three-sub-div-one {
      grid-template-columns: 15% 1fr 15%;
    }
  }