$color-black: #010101;
$color-black-opacity: #010101cf;
$color-gray-dark: #111418;
$color-gray: #343a40;
$color-gray-opacity: #343a40a8;
$color-gray-light: #aab1b8;
$color-gray-white: #fbfcfd;

$color-important: #0dcaf0;
$color-important-opacity: rgba(5, 205, 255, 0.44);
$color-important-2: #fb6107;

$color-text-darker: #252b33;
$color-text-dark: #212529;
$color-text-light: #b1b4b6;
$color-text-lighter: #dee3e44d;
$color-text-opposite: #fff;
$color-text-gray-light: #8e9a9d;
$color-text-gray-dark: #4c4d4d;